@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diplom1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>

<div id="preloader" class="text-center">
    <div class="clearfix">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="spinner-border text-primary align-middle" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<main role="main" class="pb-3">
    @RenderBody()
</main>


<<<<<<< HEAD:Diplom1/Views/Shared/_Layout.cshtml
    @* <script> *@
    @*     document.getElementById("registerForm").addEventListener("submit", async function (e) { *@
    @*         e.preventDefault(); *@
    @*         const form = e.target; *@
    @*         const formData = new FormData(form); *@

    @*         const response = await fetch('/Account/Register', { *@
    @*             method: 'POST', *@
    @*             body: formData *@
    @*         }); *@

    @*         if (response.ok) { *@
    @*             location.reload(); // или закрыть модалку, или перенаправить *@
    @*         } else { *@
    @*             const errorText = await response.text(); *@
    @*             document.getElementById("registerError").innerText = errorText; *@
    @*         } *@
    @*     }); *@
    @* </script> *@
    @await RenderSectionAsync("Scripts", required: false)
=======
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2025 Kovshar</p>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
>>>>>>> 7d0f0800bc4d45099520bd0ba881279a8596e51b:Diplom1/Pages/Shared/_Layout.cshtml
</body>
</html>