@model Diplom.Domain.ViewModels.Authorization.RegisterViewModel;

@{
    Layout = "_Layout";
    ViewBag.Title = "Регистрация";
}


<div class="position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
            </div>

            <div class="modal-body p-5 pt-0">
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                    <div class="form-floating mb-3">
                        <input name="Name" type="email" class="form-control rounded-3" id="floatingInputName" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="name" class="form-control rounded-3" id="floatingInput">
                        <label for="floatingInput">Login</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="Password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="PasswordConfirm" type="password" class="form-control rounded-3" id="floatingPasswordConfirm" placeholder="Confirm password">
                        <label for="floatingPassword">Confirm password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
                    <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
                    <hr class="my-4">
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" href="/Account/Login">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>





<div style="padding: 20px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="card card-account card-outline-secondary border border-white">
                        <div class="card-header">
                            <h3 class="mb-0 text-center paragraphHome text-black">Регистрация</h3>
                        </div>
                        <div class="card-body">
                            <form asp-controller="Account" asp-action="Register" method="post">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <input name="Name" class="form-control textbox-dg font-weight-bold text-center" placeholder="Login" type="text">
                                </div>
                                <div class="form-group">
                                    <input name="Email" class="form-control textbox-dg font-weight-bold text-center" placeholder="Email" type="text">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="new-password" name="Password" placeholder="Password" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <span class="text-black" style="font-size: small; font-family:'Comic Sans MS'">Пароль должен быть длиной больше 6 символов и иметь только латинские символы</span>
                                <div class="form-group">
                                    <input autocomplete="new-password" name="PasswordConfirm" placeholder="Confirm password" class="form-control textbox-dg font-weight-bold text-center" type="password">
                                </div>
                                <div>
                                    <a href="/Account/Login" class="btn btn-warning">Login</a>
                                </div>
                                <input class="btn btn-success btn-lg float-right" type="submit" value="Submit"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>